<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585793378017-ql8cjnpfkq4g8p4sr12k19teeov7v437.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585793378017-ql8cjnpfkq4g8p4sr12k19teeov7v437</string>
	<key>API_KEY</key>
	<string>AIzaSyDOGSxKThEPKsIgt4goB54Xt2fB_i5BkJw</string>
	<key>GCM_SENDER_ID</key>
	<string>585793378017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsWiz</string>
	<key>PROJECT_ID</key>
	<string>newswizdb-fc765</string>
	<key>STORAGE_BUCKET</key>
	<string>newswizdb-fc765.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585793378017:ios:82fce63de8cb032d1709a0</string>
</dict>
</plist>